// Configuration variables of Grid system

// This var is use by sf-rem-calc() Mixin to convert pixels input into
// rem values.
// value must be in pixels.
$font-base-size = 16

// This is the value of the gutter for the Grid system
// it's transform to rem by sf-rem-calc() Mixin.
// value must be in pixels.
$gutter-value = 16

// Break points (mobile first approach)
// it's transform to rem by sf-rem-calc() Mixin.
// value must be in pixels.
$xs-size = 440
